@import "tailwindcss";

:root {
  --background: #1b1d29;
  --foreground: #ededed;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nabla", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: "Nabla";
}

h2 {
  font-size: 2rem;
}

/* HEADER STYLES */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand {
  font-family: "Nabla";
  font-size: 2rem;
  transform: rotate(-5deg);
}

/* BUTTON STYLES */

.btn--fancy,
input[type="submit"] {
  font-family: "Nabla";
  font-size: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 250ms ease all;
}
.btn--fancy:hover,
input[type="submit"]:hover {
  transform: scale(1.2);
}

header .btn--fancy {
  transform: rotate(5deg);
  text-decoration: underline;
  text-decoration-color: #bda820;
  text-underline-offset: 4px;
}

main .create .btn--fancy {
  font-size: 1.5rem;
}

/* MAIN LAYOUT */

main {
  text-align: center;
}

main .create {
  grid-column: 1 / 13;
  place-content: center;
  min-height: 30svh;
}

/* DISPLAY TOKEN LISTINGS */

@keyframes blink {
  0% {
    background: yellow;
    opacity: 0;
  }

  5% {
    background: none;
    opacity: 1;
  }

  95% {
    background: none;
    opacity: 1;
  }

  100% {
    background: yellow;
    opacity: 0;
  }
}

.token__details {
  font-family: "Arial";
  font-weight: 400;
  text-align: center;
}

.token__details p {
  font-size: 0.95rem;
  text-transform: lowercase;
  padding: 0.5em;
  width: 100%;
}

.token__details .name {
  font-size: 1.4rem;
}

/* CREATE TOKEN FORM */

.list {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
}

.list__description {
  font-family: "Arial";
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: lowercase;
  padding: 1em 0 0;
}

.list form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.list form input[type="text"] {
  background-color: var(--background);
  color: var(--foreground);
  border: none;

  width: 200px;
  padding: 1.5em;
  border-radius: 6px;
}
